
<div class="container">
  <div class="jumbotron">
      <p>Mr. {{userFullName}}</p>
      <p>Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.
          - Albert Einstein</p>
  </div>
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/leaveRequest">Leave Request</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/leaveReport">Leave Report</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/attendanceReport">Attendence Report</a>
      </li>
  </ul>
</div>
<router-outlet></router-outlet>