<div class="container">
    <div class="jumbotron">
      <h2>Submit your attendance</h2>
      <p> Submit Message : {{submitMessage}}</p>
    </div>
    <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" formControlName="status" id="orders">
            <option *ngFor="let stat of status; let i = index" [value]="stat">
              {{stat}}
            </option>
          </select>
        <small id="emailHelp" class="form-text text-muted" *ngIf="leaveRequestForm.controls['status'].errors && leaveRequestForm.controls['status'].dirty">status is Required</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!leaveRequestForm.valid">Submit</button>
    </form>
  </div>